* {
    margin: 0;
    padding: 0
}

input,
button {
    height: 50px;
    outline: none;
    border: 1px solid #eee;

}

button {
    border-radius: 15px;
    width: 80px;
    background: #fff;
}

input {
    padding-left: 20px;

    width: 200px;
    border-radius: 30px;
}

body {
    position: relative;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-radius: 50%;
}

#app {
    width: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

audio {
    width: 310px;
    outline: none;
}

html,
body {
    width: 100%;
    opacity: .9;
    height: 100%;
    background: #e1eec3;
    /* fallback for old browsers */
    background: linear-gradient(to bottom, #f07a7b, #e1eec3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
canvas{
    display: block;
    width:100%;
    height: 100%;
}